@media (max-width: 1600px){
    /* PRODUCTS IMAGES*/
    #Products .allProds{
        width: 100%;
    }
}

@media (max-width: 1200px){
    /* PRODUCTS IMAGES*/
    #Products .allProds .prodContainer{
        grid-template-columns: repeat(2, minmax(400px, 1fr));
    }
    #Products .allProds .cardPic{
        height: 550px;
    }
}

@media (max-width: 1110px){
    /* PRODUCTS INTRO */
    #ProdIntro #subTitle{
        font-size: 1rem;
        top: 65%;
        left: 48%;
    }
}

@media (max-width: 950px){
    /* PRODUCTS INTRO */
    #ProdIntro{
        height: 40vh;
    }
    #ProdIntro #logo{
        width: 300px;
    }
    #ProdIntro #sampPics{
        right: 15%;
        transform: translateX(-15%);
        width: 280px;
    }
    #ProdIntro #subTitle{
        top: 70%;
        left: 15%;
        transform: translate(-15%, -70%) skew(-20deg);
        margin-top: 1rem;
        max-width: fit-content;
    }
    #ProdIntro #rightTexts{
        display: none;
    }
    /* CANT FIND SECTION */
    #cantFindSection #findSub{
        width: 75%;
    }
}

@media (max-width: 840px){
    /* PRODUCTS IMAGES*/
    #Products .allProds .prodContainer{
        grid-template-columns: repeat(1, minmax(350px, 1fr));
    }

    /* PRODUCT HEADERS */
    #Products #sectionTitle{
        font-size: 2rem;
    }
    #Products #prodHeaders{
        margin: 0;
    }
    #Products .prodHeader{
        font-size: 1.25rem;
    }
    #Products #prodHeaders{
        gap: 1rem;
    }
}

@media (max-width: 605px){
    /* PRODUCTS INTRO */
    #ProdIntro #rightTexts{
        display: none;
    }
    #ProdIntro #subTitle{
        font-size: .75rem;
    }

    /* CANT FIND SECTION */
    #cantFindSection #findMain{
        font-size: 3rem;
    }
    #cantFindSection #findIntro,
    #cantFindSection #findSub{
    font-size: 1.1rem;
    }
}

@media (max-width: 480px){
    /* PRODUCTS INTRO */
    #ProdIntro #logo{
        width: 18rem;
        top: 10%;
    }
    #ProdIntro #sampPics{
        width: 15rem;
        top: 70%;
    }
}