/* SPLASH SECTION */
#Splash{
    height: 100vh;
    position: relative;
    background-image: url('../Resources/Home Page/Background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Splash #mainLogo{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    height: auto;
    width: clamp(40%, 60vw, 500px);
    transition: all 5s ease;
    opacity: 0;
}

#Splash #mainLogo.show{
    opacity: 1;
}

#Splash #socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -93%);
}

#Splash #socials .socmedBtn{
    transition: all 0.5s ease;
    cursor: pointer;
    border: none;
    background: none;
    background-color: var(--main-yellow);
    border-radius: 10px;
    height: 2.75rem;
    width: 2.75rem;
}

#Splash #socials .socmedBtns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#Splash #socials .socmedBtn:hover{
    background-color: var(--main-white);
}

#Splash #socials .socmedBtn:hover svg{
    fill: var(--main-yellow);
}

#Splash #socials svg{
    height: 2.75rem;
    width: 2.75rem;  
    padding: .5rem;
    fill: var(--main-white);
    transition: all 0.1s ease;
}

#Splash #socials #check{
    color: var(--main-white);
    font-family: var(--main-serif-font);
    font-size: 1.1rem;
    text-align: center;
}

/* OFFERS SECTION */
#offers *{
    transition: all 0.3s ease;
}
#offers{
    min-height: 40vh;
    width: 100%;
    background-color: var(--main-beige);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

#offers p{
    color: var(--main-black);
    font-family: var(--main-serif-font);
}
#offers svg{
    height: 6.25rem;
    margin-bottom: 1rem;
    stroke-width: .5rem;
    stroke: var(--main-yellow);
    fill: var(--main-beige);
}

#offers .diamondLogo,
#offers .worldLogo,
#offers .licSellerLogo{
    position: relative;
}

#offers #items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 95%;
    height: 100%;
    margin: 5rem 0;
}
 
#offers .offerings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22%;
    box-sizing: border-box;
}
 
#offers .offerTitle{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 400;
}
#offers .offerDesc{
    font-size: 1.4rem;
    text-align: center;
    width: 75%;
}

#offers .diamond,
#offers .world,
#offers .cert, 
#offers .cart{
    width: 4.5rem;
}
#offers #star1{
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 40%;
    right: 35%;
    transform: translate(-35%, 40%);
    animation: shine1 3s infinite linear;
}
#offers #star2{
    height: 2.75rem;
    width: 2.75rem;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 1%);
    animation: shine2 1.5s infinite linear;
}

#offers .plane{
    width: 2rem;
    position: absolute;
    top: 1%;
    left: -20%;
    transform: translate(20%, -1%);
    animation: fly 3s infinite linear;
    fill: var(--main-yellow);
    stroke: none;
}

#offers .cert{
    z-index: -1;
    animation: rotate 10s infinite linear;
}
#offers .check{
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -38%);
    fill: var(--main-yellow);
}

#offers .cart{
    animation: scale 2s infinite linear;
}

/* NOTABLE PIECES SECTION */
#notPicIntro{
    min-height: 25vh;
    background-color: var(--main-black);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

#notPicIntro #introContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3rem;
}

#notPicIntro #introTitle{
    color: var(--main-beige);
    font-family: var(--main-serif-font);
    font-size: 3rem;
    text-align: center;
}
#notPicIntro #bar{
    height: 5px;
    width: 150px;
    background-color: var(--main-yellow);
    border: 1px solid var(--main-yellow);
}
#notPicIntro #introSubTitle{
    color: var(--main-white);
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
}

#notPieces{
    height: 100vh;
    position: relative;
    background-image: url('../Resources/Home Page/Notable Pieces BG.png');
    background-position: 50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

#notPieces .prev,
#notPieces .next{
    transition: all 0.3s ease;
    fill: var(--main-yellow);
    height: 3.125rem;
    width: 3.125rem;
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s ease;
}
#notPieces .prev:active{
    transform: translateX(-10px);
}
#notPieces .next:active{
    transform: translateX(10px);
}

#notPieces svg:hover{
    fill: var(--main-white);
}

#notPieces #prev{
    position: absolute;
    top: 40%;
    left: 7%;
    transform: translate(-7%, -40%);
}
#notPieces #next{
    position: absolute;
    top: 40%;
    right: 7%;
    transform: translate(-7%, -40%);
}

#notPieces #pieceTitle{
    color: var(--main-white);
    font-family: var(--main-cursive-font);
    font-weight: 500;
    font-size: 5rem;
    transition: all 0.5s ease;
    position: absolute;
    bottom: 23%;
    right: 5%;
    transform: translate(-5%, -23%);
    text-align: center;
}

#notPiecesTitle{
    color: var(--main-white);
    font-family: var(--main-serif-font);
    font-size: 2rem;
    position: absolute;
    bottom: 40%;
    right: 5%;
    padding: .20em 1em .05em 1em;
    background-color: var(--main-yellow);
    transform: translate(-5%, -40%);
    text-align: center;
    transition: all 0.3s ease;
}

#notPieces .prodImg{
    transition: all ease 0.3s;
    position: absolute;
    z-index: 10000;
}
#notPieces .prodImg.first-img,
#notPieces .prodImg.second-img,
#notPieces .prodImg.third-img,
#notPieces .prodImg.fourth-img,
#notPieces .prodImg.fifth-img{
    height: auto;
}

#notPieces .prodImg.first-img{
    width: 33vw;
    top: 5%;
    left: 30%;
    transform: translate(-30%, 5%);
}
#notPieces .prodImg.second-img{
    width: 28vw;
    top: 40%;
    left: 30%;
    transform: translate(-30%, -40%);
}
#notPieces .prodImg.third-img{
    width: 49vw;
    top: 60%;
    left: 30%;
    transform: translate(-30%, -60%);
}
#notPieces .prodImg.fourth-img{
    width: 28vw;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}
#notPieces .prodImg.fifth-img{
    width: 35vw;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}

#notPieces #dotContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -8%);
}

#notPieces .dot{
    transition: all 0.3s ease;
    border: 4.5px solid var(--main-white);
    border-radius: 100%;
    cursor: pointer;
}

#notPieces .dot:hover{
    border-color: var(--main-yellow);
}

/* FOR TRANSITIONS */
.hidden{
    opacity: 0;
}

.fade {
    transition: opacity 0.5s ease;
}

#notPieces .dot.active{
    border-color: var(--main-yellow);
    background-color: var(--main-yellow);
}

.card{
    opacity: 0;
    transition: all ease 5s;
}
.card.show{
    opacity: 1;
}

.offerings{
    opacity: 0;
    transition: all ease 5s;
}
.offerings.show{
    opacity: 1;
}