/* PRODUCTS INTRO SECTION */
#ProdIntro{
    height: 53vh;
    position: relative;
    background-image: url('../Resources/Products Page/Products Intro BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none; 
    user-select: none; 
    display: flex;
}

#ProdIntro #logo{
    height: auto;
    width: clamp(23rem, 35%, 40rem); /*50 rem / 35%*/
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-15%, -20%);
}

#ProdIntro #sampPics{
    width: clamp(21rem, 30%, 50rem); /*43 rem / 30% */ 
    height: auto;
    position: absolute;
    left: 70%;
    top: 0;
    transform: translate(-70%, 0);
}

#ProdIntro #rightTexts{
    color: var(--main-white);
    text-align: right;
    font-size: 1.5rem;
    font-family: var(--main-serif-font); 
    position: absolute;
    top: 85%;
    right: 5%;
    transform: translate(-5%, -85%);
}

#ProdIntro #subTitle{
    color: var(--main-white);
    position: absolute;
    background-color: var(--main-yellow);
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
    top: 80%;
    left: 52%;
    transform: translate(-52%, -80%) skew(-20deg);
    text-align: center;
}

/* PRODUCTS SECTION */
#Products{
    min-height: 100vh;
    background-color: var(--main-black);
    overflow: visible;
}

#Products #sectionTitle{
    font-family: var(--main-cursive-font);
    color: var(--main-beige);
    font-size: 5rem;
    text-align: center;
    margin-top: 2rem;
}
#Products #bar{
    /* width: 100px; */
    width: 100%;
    height: 3px;
    background-color: var(--main-yellow);
    margin: 1rem auto auto auto;
    display: none;
}
#Products .allProds{
    width: 85%;
    overflow: visible;
    margin: auto auto 3rem auto;
}

/* PRODUCT AVAILABILITY */
#Products .prodAvailabilityGrp{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 10px;
}

#Products .prodAvailabilityGrp p{
    color: var(--main-white);
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    padding: 10px 30px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

#Products .prodAvailabilityGrp #availableItems:hover,
#Products .prodAvailabilityGrp #soldItems:hover{
    color: var(--main-yellow);
    border-bottom-color: var(--main-yellow);
}

#Products .prodAvailabilityGrp .active{
    color: var(--main-yellow);
    border-bottom-color: var(--main-yellow); 
}

/* PRODUCT HEADERS */
#Products .prodHeader{
    font-size: 1.25rem;
    margin: 2rem 0;
    text-align: center;
    padding: .2rem 1.5rem;
    border-bottom: 1.5px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}
#Products #prodHeaders{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-white);
    width: 100%;
    margin-left: .5rem;
    gap: 2rem;
    flex-wrap: wrap;
}
#Products #prodHeaders .active{
    color: var(--main-yellow);
    border-color: var(--main-yellow);
}
#Products .prodHeader:hover{
    border-color: var(--main-yellow);
}

/* PICTURES */
#Products .allProds .prodContainer{
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    animation: entrance .5s ease;
}

#Products #sold .allProds .prodContainer{
    column-gap: 15px;
    row-gap: 15px;
}
#Products #available .allProds .prodContainer{
    column-gap: .5em;
    row-gap: 2em;
}

#Products #ringSection .cardPic{
    width: 100%;
    height: 450px;
    aspect-ratio: .90;
    transition: all 0.3s ease;
}
#Products #necklaceSection .cardPic,
#Products #earringSection .cardPic,
#Products #braceletSection .cardPic,
#Products #watchSection .cardPic{
    width: 100%;
    height: 400px;
    aspect-ratio: .90;
    transition: all 0.3s ease;
}
#Products .cardPic:hover{
    transform: scale(1.2);
}
#Products #available{
    animation: slideToRight 1s ease;
}
#Products #sold{
    animation: slideToLeft 1s ease;
}

/* AVAILABLE PRODUCTS PICTURES */
#Products #available .prodItem{
    position: relative;
    width: 100%;
    height: 425px;
    aspect-ratio: 1;
    overflow: hidden;
}
#Products #available .prodItem img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0; 
    left: 0;
    transition: opacity 0.3s ease;
}
#Products #available .prodItem .backImg{
    opacity: 0;
}
#Products #available .prodItem:hover .backImg{
    opacity: 1;
}
#Products #available .prodItem:hover .frontImg{
    opacity: 0;
}
#Products #available .prodItem:hover{
    transform: scale(1.2);
    z-index: 100000;
}

/* CANT FIND SECTION */
#cantFindSection{
    min-height: 60vh;
    background-image: url('../Resources/Products Page/Cant Find BG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#cantFindSection #cFTextContainer,
#cantFindSection #cFSocMed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#cantFindSection #cFTextContainer{
    margin-top: 2rem;
}
#cantFindSection #cFSocMed{
    margin-bottom: 2rem;
}

#cantFindSection #findIntro,
#cantFindSection #findSub,
#cantFindSection #findMain{
    font-family: var(--main-serif-font);
    text-align: center;
}
#cantFindSection #findMain{
    font-size: 4rem;
    font-style: italic;
    width: 60%;
    line-height: 1.1;
}
#cantFindSection #findIntro,
#cantFindSection #findSub{
    font-size: 1.5rem;
}

#cantFindSection #findBar{
    height: 4px;
    width: 90px;
    background-color: var(--main-yellow);
}

#cantFindSection #findSocMedBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#cantFindSection .socmedBtn{
    border-radius: 10px;
    height: 2.75rem;
    width: 2.75rem;    
    background-color: var(--main-yellow);
    cursor: pointer;
    transition: all 0.5s ease;
}
#cantFindSection svg{
    fill: var(--main-white);
    height: 2.75rem;
    width: 2.75rem;  
    padding: .5rem;
    transition: all 0.1s ease;
}
#cantFindSection #findIg svg{
    padding: .4rem;
}
#cantFindSection .socmedBtn:hover{
    background-color: var(--main-white);
}

#cantFindSection .socmedBtn:hover svg{
    fill: var(--main-yellow);
}

@keyframes entrance{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideToLeft{
    from{
        transform: translateX(1000px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideToRight{
    from{
        transform: translateX(-1000px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}